bbody {
  background-color: #1a1a1a;
  color: #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h1 {
  color: #00bcd4;
  text-align: center;
  margin-bottom: 20px;
}

.CurrencyInput {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.label {
  font-size: 18px;
  margin-bottom: 8px;
}

.input-container {
  flex: 1;
  margin-right: 10px;
}

input,
select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 5px;
  color: #ddd;
  background-color: #333;
  outline: none;
}

select {
  background-color: #444;
  cursor: pointer;
}
