body {
  background-color: #1a1a1a;
  color: #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #333;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
}

h1 {
  color: #00bcd4;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.group {
  background: linear-gradient(135deg, #3385ff, #33ccff);
  width: 220px;
  margin: 0 auto 30px;
  display: grid;
  grid-template-columns: 130px 90px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

label {
  font-size: 18px;
  margin-bottom: 8px;
  color: #00bcd4;
  display: block;
}

input,
select {
  background: none;
  border: 0;
  color: #333;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-bottom: 2px solid #00bcd4;
  outline: none;
  transition: border-color 0.3s;
  transform: translateY(0); /* Ensure the dropdown opens downward */
}

input:focus,
select:focus {
  border-color: #008ba3;
}

/* Style the submit button */
button {
  background: #00bcd4;
  color: #ffffff;
  border: 0;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
}

/* Hover effect on the submit button */
button:hover {
  background: #008ba3;
}
