body {
    background-color: #2b2b2b;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #5f1b1d;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #00bcd4;
    text-align: center;
  }
  
  .group {
    background: linear-gradient(135deg, #33ccff, #3385ff);
    width: 180px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 100px 80px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  input,
  select {
    background: none;
    border: 0;
    color: #fff;
    font-size: 16px;
  }
  
  input {
    padding-left: 10px;
  }
  
  select {
    padding: 15px;
  }
  
  /* Style the submit button */
  button {
    background: #00bcd4;
    color: #ffffff;
    border: 0;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
  }
  
  /* Hover effect on the submit button */
  button:hover {
    background: #008ba3;
  }
  